@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--background-light);
    color: var(--foreground-light);
    transition: background-color 300ms, color 300ms;
  }

  .dark body {
    background-color: var(--background-dark);
    color: var(--foreground-dark);
  }

  :root {
    --background-light: 255 255 255;
    --background-dark: 10 25 41;
    --foreground-light: 15 23 42;
    --foreground-dark: 255 255 255;
  }
}
